@{
    ViewBag.Title = "Governance Structure";
    }

<div class="page-header page-title-left mini">
    <div class="image-bg content-in" data-background="@Url.Content("~/Content/Frontend/light/img/gthbg.jpg")" data-stellar-background-ratio="0.5" style="background-image: @Url.Content("~/Content/Frontend/light/img/sections/slider/backmenu.jpg"); background-position: 50% 0%;"></div>
    <div class="container">
        <div class="col-md-12">
            <h1 class="title" style="color:white">Governance Structure</h1>
            <ul class="breadcrumb" style="color:white">
                <li style="color:white">
                    <a href="@Url.Action("Classic", "Home", new {area = "" })" style="color:white">Home</a>
                </li>

                <li class="active" style="color:white">Governance Structure</li>
            </ul>
        </div>
    </div>
</div>

<section id="addition-info" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="widget">
                    <div class="widget-title">
                        <h3 class="title"><i class="icon-user"></i>Steering Committee</h3>
                    </div>
                    <h5>Members</h5>
                    <div id="MainMenu2">

                        <div class="list-group panel">

                            <p   class="list-group-item">Chief of Staff</p>
                            <p   class="list-group-item">Honourable Minister of Finance</p>
                            <p class="list-group-item">Honourable Minister of Trade</p>
                            <p class="list-group-item">Honourable Minister of Transport</p>
                            <p class="list-group-item"> Honourable Minister of Food and Agriculture</p>

                        </div>
                    </div>

                    <h5>Responsibilities</h5>
                    <div id="MainMenu2">

                        <div class="list-group panel">

                            <p class="list-group-item">Provides ongoing high level support for the Roadmap</p>
                            <p class="list-group-item">Changes legislation where required</p>
                            <p class="list-group-item">Ensures active collaboration of Ministries</p>
                            <p class="list-group-item">Resolves high level conflicts between Ministries</p>


                        </div>
                    </div>

                    
                </div>

            </div>

            <div class="col-sm-6 col-md-6">
                <div class="widget">
                    <div class="widget-title">
                        <h3 class="title"><i class="icon-mobile9"></i>Technical Committee</h3>
                    </div>
                    <h5>Members</h5>
                                    
                        <div class="panel-group no-list" id="accordion1">
                            <div class="panel panel-info active">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <!-- Tab -->
                                        <p>
                                            <a data-toggle="collapse" data-parent="#accordion1" href="#item1">
                                                Key Operational Staff of Relevant Ministries/Departments/Agencie
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div id="item1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <!-- Tab Content-->
                                        <p>Representatives from</p>
                                       
                                        <div id="MainMenu2">

                                            <div class="list-group panel">
                                                <p class="list-group-item">National Information Technology Agency</p>
                                                <p class="list-group-item">Ghana Ports and Harbours Authority</p>
                                                <p class="list-group-item"> Ministry of Food and Agriculture</p>
                                                <p class="list-group-item">Ministry of Trade and Industry</p>
                                                <p class="list-group-item">Ghana Standards Authority</p>
                                                <p class="list-group-item">Ghana Revenue Authority</p>
                                                <p class="list-group-item">Ghana Shippers Authority</p>

                                                <p class="list-group-item">Food and Drugs Authority</p>
                                                <p class="list-group-item">Ministry of Transport</p>
                                                <p class="list-group-item">Ministry of Finance</p>
                                                <p class="list-group-item">National Security</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default active">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <!-- Tab -->
                                        <p>
                                            <a data-toggle="collapse" data-parent="#accordion1" href="#item2">
                                                Key Operational Staff of mobilised Private Sector - Trade
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div id="item2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <!-- Tab Content-->
                                        <p>Representatives from</p>

                                        <div id="MainMenu2">

                                            <div class="list-group panel">
                                                <p class="list-group-item">Ghana Institute of Freight Forwarders</p>
                                                <p class="list-group-item">Customs Brokers Association of Ghana</p>
                                                <p class="list-group-item">Association of Ghana Industries Ghana</p>
                                                <p class="list-group-item">Ghana Community Network Ltd</p>
                                                <p class="list-group-item">Ghana Union of Traders Association</p>                                       
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <!-- Tab -->
                                        <p>
                                            <a data-toggle="collapse" data-parent="#accordion1" href="#item3">
                                                Key Operational Staff of Technical Partner
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div id="item3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div id="MainMenu2">

                                            <div class="list-group panel">
                                                <p class="list-group-item">West Blue Project Management Team</p>
                                                
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                  
                   
                    <h5>Responsibilities</h5>
                    <div id="MainMenu2">

                        <div class="list-group panel">
                            <p class="list-group-item">Responsible for the delivery of the Roadmap,</p>
                            <p class="list-group-item">Provides mandates and supervises the working groups,</p>
                            <p class="list-group-item"> Approves and controls implementation of the Activities of the Roadmap,</p>
                            <p class="list-group-item">Addresses and resolves conflicting objectives and priorities,</p>
                            <p class="list-group-item">Ensures inter-ministerial/interagency collaboration,</p>
                            <p class="list-group-item">Manages public relations and external communications,</p>
                            <p class="list-group-item"> Reports to the Top Level Policy Steering Group.</p>

</div>
                    </div>
                </div>
              
            </div>
          

        </div>
    </div>
</section>
<br /><br /><br /><br />
<section id="Section1" class="page-section testimonails animated fadeInUp visible" data-animation="fadeInUp" style="padding:0px 0px 40px 0px; margin-top:-12%">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="widget">
                    <div class="widget-title">
                        <h3 class="title"><i class="icon-user"></i>Working Group</h3>
                    </div>
                    <h5>Responsibilities</h5>
                    <div id="MainMenu2">

                        <div class="list-group panel">

                            <p class="list-group-item">Reports to top level management groups on implementation progress</p>
                            <p class="list-group-item">Implements the different activities of the Roadmap</p>
                            <p class="list-group-item">Liaises with technical experts and consultants</p>
                            <p class="list-group-item">Drafts specific project plans</p>                        
                        </div>
                    </div>                   

                </div>

            </div>

            <div class="col-sm-6 col-md-6">
                <div class="widget">
                    <div class="widget-title">
                        <h3 class="title"><i class="icon-user"></i>Organogram</h3>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="mixed-grid pad">
                                <div class="masonry-grid grid-col-4">
                                    <div class="grid-sizer"></div>

                                    <!-- Item 5 -->
                                    <div class="grid-item all html wp">
                                        <img src="/Content/Frontend/light/img/sections/blog/Organogram.png" alt="Recent Work" class="img-responsive" style="text-align:right"/>
                                        <div class="img-overlay"></div>
                                        <div class="figcaption">                                            
                                            <a href="/Content/Frontend/light/img/sections/blog/Organogram.png" data-rel="prettyPhoto[portfolio]">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div></div>
                        </div>
                    </div>
                </div>
    </div>
</section>

@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore.js"></script>
    <script src="https://www.letzchat.com/plugin/firebase.js"></script>
    <script type="text/javascript" src="https://www.letzchat.com/ghana/translate.js"></script>

}


